<button onclick="location.href = '/users/createForm'">Create account</button>
<button onclick="location.href = '/users/loginForm'">Login</button>
<button onclick="location.href = '/users/logout'">Logout</button>

<br/>
<br/>

<button onclick="location.href = 'create'">Create Listing</button>
<h2>Items for sale</h2>
{% if listings %}
<ul>
    {% for listing in listings %}
    <h3>{{listing.item_color}} {{listing.item_brand}} {{listing.item_type}}</h3>
    <h4>${{listing.item_price}}</h4>
    <h4>Listed at {{listing.listing_date}}</h4>
    <h5><a href="get/{{ listing.id }}">View item</a></h5>
    {% endfor %}
</ul>
{% else %}
<p>No listings are available.</p>
{% endif %}